/* fonts */
@font-face {
    font-family: 'Poppins-Semibold';
    src: url('/assets/fonts/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('/assets/fonts/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('/assets/fonts/Poppins-Regular.ttf');
}

:root {
    --background-color: #FEFCFB;
    --primary-color: #001F54;
    --secondary-color: #8F95D3;
    --gray: #666666;
    --white: #FEFCFB;
    --text-color: #000000;
}

body {
    font-family: 'Poppins-Regular', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

